.inline {

    display: inline-block;
    cursor: pointer;

}

.absolute {

    position: absolute;
    cursor: pointer;

}

body {

    margin: 0;
    font-size: 4vw;
    cursor: pointer;

}

.outer {
    display: table;
    position: absolute;
    height: 100%;
    width: 100%;
    cursor: pointer;
}

.middle {
    display: table-cell;
    vertical-align: middle;
    cursor: pointer;
}

.inner {
    margin-left: auto;
    margin-right: auto;
    width: 90%;
    cursor: pointer;
}
